/* Header */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: white;
   
    margin: 0 auto;
    
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 32px;
}
.btn1{
    color: #FFFFFF;
    width: 135px;
    height: 44px;
    padding: 16px;
    border-radius: 10000px;
    background: linear-gradient(to right top, #f7f73f,#FB09B4,#9100F8); 
    font-size: 1rem;
    
    line-height: auto;

}
nav h3{
    font-size:30px;
    font-weight: 700;
}
nav h3 span{
   background: linear-gradient(to top,#F7E93F,#FB09B4,#9100F8);
   color: transparent;
   -webkit-background-clip: text;
   
}
nav ul li{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.banner{
   
    height: 760px;
    background-image: url(../images/hero-bg.png);
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    

}
.banner-section{
    margin-right: 80px;
    text-align: center;
}
.banner-section .banner-text h3{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 24px;
}
.banner-section .banner-text h3 p{
    font-size: 1rem;
    font-weight: 400;
}
.btn2{
    width: 201px;
    height: 44px;
    border-radius: 10000px;
     background: linear-gradient(to right top, #f7f73f,#FB09B4,#9100F8); 
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 600;
}
.btn3{
    width: 147px;
    height: 44px;
    border-radius: 10000px;
    color: #00FF88;
     font-size: 1rem;
     font-weight: 600;
      background-color: transparent;
   
}
.imag2{
    margin-top: -1000px;
    margin-bottom: 110px;
  
}
.bg{
    background-color: #1A0B2E;

}
/* About section */
.about{
    background-color: #1A0B2E;
    
    color: #FFFFFF;
}
.about-text{
    margin-top: -50px;
    text-align: center;
}
.about-text h3{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
   margin-bottom: 16px;
}
.about-text p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}
.items{
    display: flex;
    flex-direction:row;
     margin-left: 200px;
     gap: 80px;
     text-align: center;
    
    
}
hr{
    width: 1200px;
    height: 0px;
    margin-top: 80px;
    color: rgba(245, 245, 245, 0);
 }
.item{
    /* border: 1px solid red; */
    width: 240px;
    height: 94px;
    margin-top: 160px;
    margin-bottom: 120px;
    margin-top: 80px;
   
}
.item h3{
    font-size: 2.5rem;
    color: #00FF88;
    margin-top: -1px;
    margin-bottom: 5px;
}
.item p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

/* Tech wave */
.techwave{
    height: 1121px;
    background-color: #230E3D;
    margin-bottom: 120px;
}
.techwave-text{
   padding: 110px;
  

}

.techwave h3{
   font-size: 3rem;
   font-weight: 700;
   color: #FFFFFF;
   text-align: center;
   
 
    
  
  

}

   

.box{
    /* border: 2px solid tomato; */
    border-radius: 40px;
   
    background-color: #351165;
}
.boxs{
    display: grid;
    /* border: 1px solid red; */
    width: 1200px;
    height: 783px;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 120px;
    margin-top: -120px;
   
  
}

.boxs .box h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
}
.box-text{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;

}


.episodes1 h4{
    color: #FFFFFF;

}
.featured-episodes{
    height: 1276px;
}
.featured{
    display: grid;
   grid-template-rows: repeat(3,1fr);
}
.featured-episodes{
    height: 1200px;
}
.featured-container{
    /* border: 1px solid red; */
    width: 1200px;
    height: 538px;
    margin: 0 auto;
    margin-top: -117px;
    margin-bottom: 120px;
}
.featured-container h5{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
   

}
.episodes-text{
    color: #FFFFFF;
    line-height: 24px;
}
.featured{
    /* border: 2px solid greenyellow; */
    width: 1200px;
    height: 440px;
   display: flex;
   
   gap: 29px;

}
.episodes{
    /* border: 2px solid rebeccapurple; */
    width: 380px;
    background-color: #250D44;
    border-radius: 20px;
    
} 
iframe{
    width: 375px;
    height: 220px;

}
.colore-share{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.colore-share-p{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    margin-bottom: 24px;
}
.episode{
   padding-left: 24px;
   padding-right: 24px;
}


/* host-container */
.host{
    border: 1px solid lawngreen;
    width: 1200px;
    height: 400px;
    margin: 40px auto;
    
}
.host-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: -50px;
}
.host-container{
    border: 2px solid red;
    border-radius: 20px;
    width: 1121px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
    background-color: #250D44;
}

.host-container h1{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}
.host-container p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.host-container img{
    margin-right: 8px;
}
 